<div class="flex-container" fxLayout="row" fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start">

  <mat-card class="flex-item" fxFlex="50">
    <div id="interactive" class="viewport clearfix" #interactive></div>
    <p>Uwaga: aby czytnik mógł działać, należy udostępnić kamerę video Twojego aparatu. W razie problemów z odczytem przepisz kod ręcznie.</p>

    <div class="show__sm" *ngIf="lastResult">
      <p>Odczytany kod...</p>
      <p>{{ lastResult || async }}'</p>
      <p *ngIf="!message">Searching...</p>
      <p *ngIf="message">{{message}}</p>
    </div>
  </mat-card>

</div>


