<div class="app-content">
  <!-- <div class="app-loading">
    <div class="logo"></div>
    <svg class="spinner" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
  </div>   -->
  <mat-card >
    <mat-card-content>
      <h3> Użytkownicy </h3> <app-user-search></app-user-search>
    </mat-card-content>
  </mat-card>

  <div class="grid">
    <a *ngFor="let user of users" class="col-1-4"
      routerLink="/users/detail/{{user.id}}">
      
      <mat-card >
        <mat-card-content>
          <h1 class="mdc-card__title mdc-card__title--large">{{user.name}}</h1>
          <div *ngIf="user.role">
            <h2 class="mdc-card__subtitle"> Przypisana rola: {{ user.role }} </h2>
          </div>
        </mat-card-content>
      </mat-card>

    </a>
  </div>
</div> -->