<div class="app-content">
  <mat-card >
    <mat-card-content>
      <h2> Użytkownicy </h2>

      <mat-list class="app-list">
        <mat-list-item *ngFor="let user of users">
          <h3 mat-line>  
            {{user.name}}
          </h3>
          <p mat-line class="demo-secondary-text">{{ user.id }}</p>
          
          <button mat-fab mat-raised-button color="primary"
            routerLink="/users/detail/{{user.id}}">
            <mat-icon matPrefix class="app-input-icon">search</mat-icon>
          </button>

          <button mat-fab mat-raised-button color="accent"
            (click)="delete(user)">
            <mat-icon matPrefix class="app-input-icon">remove</mat-icon>
          </button>    
        </mat-list-item>
      </mat-list>

      <div>
        <mat-form-field>
          <input matInput #userName placeholder="Wpisz login..." />
        </mat-form-field>         
      </div>
      <button mat-raised-button color="primary"
       (click)="add(userName.value); userName.value=''">
        DODAJ NOWEGO
      </button>

    </mat-card-content>
  </mat-card>
</div>