<div class="app-content">
  <mat-card >
    <mat-card-content>
      <h3>Top users. Cannot see one? </h3> <app-user-search></app-user-search>
    </mat-card-content>
  </mat-card>

  <div class="grid">
    <a *ngFor="let user of users" class="col-1-4"
      routerLink="/useres/detail/{{user.id}}">
      
      <mat-card >
        <mat-card-content>
          <h1 class="mdc-card__title mdc-card__title--large">{{user.name}}</h1>
          <!-- <h2 class="mdc-card__subtitle">Subtitle here</h2> -->
        </mat-card-content>
      </mat-card>

    </a>
  </div>
</div>