<mat-card class="text-center">
  <h1 class="title">Wymagane uwierzytelnienie </h1>
  <form>
    <mat-form-field>
      <input matInput #username 
        type="text" id="Username"
        placeholder="Nazwa użytkownika"/>
    </mat-form-field>

    <mat-form-field class="input-container">
      <input matInput #pass 
        type="password" id="Password"
        placeholder="Hasło"/>
    </mat-form-field>
    
    <button mat-button (click)="login(username.value, pass.value)">
      Zaloguj się
    </button>
  </form>
</mat-card>