<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over" color="primary">
      <mat-toolbar>
        <mat-toolbar-row> 
          <!-- dummy placeholder -->
          <button mat-button class="app-sidebar-button" (click)="toggleSidenav()">
          ZWIŃ MENU
          <!-- <mat-icon class="example-icon">account_circle</mat-icon> -->
          </button> 
        </mat-toolbar-row>
    
        <mat-toolbar-row>
          <button mat-button class="app-sidebar-button"
          (click)="toggleSidenav()" routerLink="">
          STRONA GŁÓWNA
          </button>
        </mat-toolbar-row>
    
        <mat-toolbar-row>
          <button mat-button class="app-sidebar-button" mat-tooltip="Heroes"
          (click)="toggleSidenav()" routerLink="/heroes/all">
          ZAMÓWIENIA
          </button>
        </mat-toolbar-row>
        
        <mat-toolbar-row>
          <button mat-button class="app-sidebar-button" mat-tooltip="Dashboard"
          (click)="toggleSidenav()" routerLink="/heroes/touch">
          SWIPE DEMO
          </button>
        </mat-toolbar-row>
        
        <mat-toolbar-row>
          <button mat-button class="app-sidebar-button" mat-tooltip="Dashboard"
          (click)="toggleSidenav()" routerLink="/barcode">
          CZYTNIK KODÓW
          </button>
        </mat-toolbar-row>
    
        <mat-toolbar-row>
          <button mat-button class="app-sidebar-button"
          (click)="toggleSidenav()" routerLink="/heroes/messages">
          WIADOMOŚCI ( 0 ) 
          <!-- {{ messageService.messages.length }} ) -->
          </button>
        </mat-toolbar-row>
    
      </mat-toolbar>
    </mat-sidenav>


  <mat-toolbar color="primary">
    <button mat-button class="app-menu-button" (click)="toggleSidenav()" >
      <i class="material-icons">menu</i>
    </button>
    <span class="title">{{ title | uppercase }}</span>
  </mat-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>