<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over" color="primary">
      <mat-toolbar>
        <mat-toolbar-row> 
          <button mat-button class="app-sidebar-button" (click)="toggleSidenav()">
          ZWIŃ MENU
          </button> 
        </mat-toolbar-row>
        
        <mat-toolbar-row *ngFor="let sidebarItem of sidenavItems$ | async">
          <button mat-button class="app-sidebar-button"
          (click)="toggleSidenav()" routerLink="{{ sidebarItem.routerLink }}">
          {{ sidebarItem.caption | uppercase }}
          <mat-icon *ngIf="sidebarItem.icon" class="example-icon">{{ sidebarItem.icon }}</mat-icon>
          </button>
        </mat-toolbar-row>
    
      </mat-toolbar>
    </mat-sidenav>


  <mat-toolbar color="primary">
    <button mat-button class="app-menu-button" (click)="toggleSidenav()" >
      <i class="material-icons">menu</i>
    </button>
    <span class="title">{{ title | uppercase }}</span>
  </mat-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>