<form class="instantInput">
    <mat-form-field class="example-full-width">
        <input matInput #barcodeInput 
            [formControl]="barcodeInputControl"
            class="instantInput" placeholder="Wprowadź kod kreskowy"
            autocomplete="false"
            (keydown.enter)="onSubmit()" >
        <button mat-button matSuffix mat-icon-button aria-placeholder="Gotowe"
            *ngIf="canSubmit" (click)="onSubmit()">
            <mat-icon>send</mat-icon>
        </button>
    </mat-form-field> 
</form>