<div>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Hero search" aria-label="Number"
      matInput #searchBox id="search-box" (keyup)="search(searchBox.value)"
      [matAutocomplete]="auto">
      
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of heroes$ | async" [value]="option"
        routerLink="/heroes/detail/{{option.id}}">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
      
    </mat-form-field>
  </form>
  
</div>