<div class="app-content">
  <mat-card >
    <mat-card-content>
      <h2> Heroes </h2>

      <mat-list class="app-list">
        <mat-list-item *ngFor="let hero of heroes">
          <h3 mat-line>  
            {{hero.name}}
          </h3>
          <p mat-line class="demo-secondary-text">{{ hero.id }}</p>
          
          <button mat-fab mat-raised-button color="primary"
            routerLink="/detail/{{hero.id}}">
            <mat-icon matPrefix class="app-input-icon">search</mat-icon>
          </button>

          <button mat-fab mat-raised-button color="accent"
            (click)="delete(hero)">
            <mat-icon matPrefix class="app-input-icon">remove</mat-icon>
          </button>    
        </mat-list-item>
      </mat-list>

      <div>
        <mat-form-field>
          <input matInput #heroName placeholder="Hero name" />
        </mat-form-field>         
      </div>
      <button mat-raised-button color="primary"
       (click)="add(heroName.value); heroName.value=''">
        ADD
      </button>

    </mat-card-content>
  </mat-card>
</div>