<mat-sidenav #sidenav mode="over" color="primary">
  <mat-toolbar>
    <mat-toolbar-row> 
      <button mat-button class="app-sidebar-button" 
        (click)="toggle()">
        ZWIŃ MENU
      </button> 
    </mat-toolbar-row>
    
    <mat-toolbar-row *ngFor="let sidebarItem of sidebar.items$ | async">
      <button mat-button class="app-sidebar-button"
        (click)="toggle()" 
        routerLink="{{ sidebarItem.routerLink }}">
        {{ sidebarItem.caption | uppercase }}
        <mat-icon *ngIf="sidebarItem.icon" class="example-icon">
          {{ sidebarItem.icon }}
        </mat-icon>
      </button>
    </mat-toolbar-row>

  </mat-toolbar>
</mat-sidenav>
  <!-- <mat-sidenav #sidenav mode="side">
  <div class="flex-container"
       fxLayout="column">
    <button class="flex-item" mat-button
            [routerLinkActive]="['active']"
            [routerLink]="['barcode']">Homepage
    </button>
    <div class="flex-item">
      <hr>
    </div>
    <button class="flex-item" mat-button
            [routerLinkActive]="['active']"
            [routerLink]="['barcode/media']">Media Stream
    </button>
    <div class="flex-item">
      <hr>
    </div>
    <button class="flex-item" mat-button
            [routerLinkActive]="['active']"
            [routerLink]="['barcode/field']">Input File
    </button>
  </div>
</mat-sidenav>
 -->
