<mat-sidenav #sidenav mode="over" color="primary">
  <mat-toolbar>
    <mat-toolbar-row> 
      <!-- dummy placeholder -->
      <button mat-button class="app-sidebar-button" (click)="sidebar.toggle()">
      ZWIŃ MENU
      <!-- <mat-icon class="example-icon">account_circle</mat-icon> -->
      </button> 
    </mat-toolbar-row>

    <mat-toolbar-row>
      <button mat-button class="app-sidebar-button"
      (click)="sidebar.toggle()" routerLink="">
      STRONA GŁÓWNA
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <button mat-button class="app-sidebar-button" mat-tooltip="Users"
      (click)="sidebar.toggle()" routerLink="/users/all">
      ZAMÓWIENIA
      </button>
    </mat-toolbar-row>
    
    <mat-toolbar-row>
      <button mat-button class="app-sidebar-button" mat-tooltip="Dashboard"
      (click)="sidebar.toggle()" routerLink="/users/touch">
      SWIPE DEMO
      </button>
    </mat-toolbar-row>
    
    <mat-toolbar-row>
      <button mat-button class="app-sidebar-button" mat-tooltip="Dashboard"
      (click)="sidebar.toggle()" routerLink="/barcode">
      CZYTNIK KODÓW
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <button mat-button class="app-sidebar-button"
      (click)="sidebar.toggle()" routerLink="/users/messages">
      WIADOMOŚCI ( 0 ) 
      <!-- {{ messageService.messages.length }} ) -->
      </button>
    </mat-toolbar-row>

  </mat-toolbar>
</mat-sidenav>
  <!-- <mat-sidenav #sidenav mode="side">
  <div class="flex-container"
       fxLayout="column">
    <button class="flex-item" mat-button
            [routerLinkActive]="['active']"
            [routerLink]="['barcode']">Homepage
    </button>
    <div class="flex-item">
      <hr>
    </div>
    <button class="flex-item" mat-button
            [routerLinkActive]="['active']"
            [routerLink]="['barcode/media']">Media Stream
    </button>
    <div class="flex-item">
      <hr>
    </div>
    <button class="flex-item" mat-button
            [routerLinkActive]="['active']"
            [routerLink]="['barcode/field']">Input File
    </button>
  </div>
</mat-sidenav>
 -->
